.tituloPrincipal {
  font-size: 55px;
  font-weight: 700;
  color: #1a1f36;       /* azul gris oscuro, serio */
  margin-bottom: 0.25rem;
  letter-spacing: -0.5px;
}

.subtitulo {
  font-size: 25px;
  font-weight: 500;
  color: #5f6b8a;       /* gris azulado suave */
  margin: 0;
  letter-spacing: 0.2px;
}
.panelHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-top: 25px;
  margin-left: 75px;
  margin-right: 75px;
}

.cards{
    display: flex;
    flex-direction: column;
}

.panelPrincipal {
  display: flex;
  align-items: start;
  justify-content: space-around;
  margin-top: 25px;
  margin-left: 75px;
  margin-right: 25px;
}

