.conteiner{
    display: flex;
    gap: 125px;
    margin-top: 35px;
   
    margin-left: 75px;
    margin-right: 75px;
}
.text{
    margin-left: 55px;
}
.text h1{
    font-size: 55px;
    
}
.text h2{
    font-size: 35px;
}
.minibanner {
  background-color: white;
  border-left: 4px solid #004AAD;
  padding: 20px 30px;
  margin: 20px auto;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 95%;
}

.minibanner h2 {
  margin: 0;
  font-weight: bold;
  color: #333;
  font-size: 20px;
}
.tableItems{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}
