/* Fondo con gradiente sutil */
.main {
  font-family: 'Poppins', sans-serif;
 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.formvehiculo {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content:center;
  padding: 30px 30px;
  width: auto;
  backdrop-filter: blur(12px) saturate(150%);
   background: linear-gradient(135deg, #004AAD, #2E2E2E);
  -webkit-backdrop-filter: blur(12px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #fff;
}


.formvehiculo h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 600;
}


.formvehiculo label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: #E0E0E0;
}


.formvehiculo input,
.formvehiculo select {
  width: 500px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.formvehiculo input::placeholder {
  color: #B0B8C1;
}


.formvehiculo button {
  width: 100%;
  padding: 12px;
  background: #004AAD;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.formvehiculo button:hover {
  background: #1DB954;
}
